APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

GIVEAWAY_END_DATE=
GIVEAWAY_START_DATE=
GIVEAWAY_ANNOUNCEMENT=

SHARE_IMG=
SHARE_IMG_TWITTER=
SHARE_IMG_FACEBOOK=
SHARE_IMG_LINKEDIN=

LINKED_IN_API_KEY=
LINKED_IN_API_SECRET=

FACEBOOK_API_KEY=
FACEBOOK_PIXEL_ID=

GOOGLE_ANALYTICS_ID=

INSTAGRAM_URL=

TWITTER_FOLLOW_US=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=

SOCIAL_NETWORKS=

ALLOWED_ORIGINS="*"

IPINFO_ACCESS_TOKEN=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
MIX_APP_URL="${APP_URL}"
MIX_IPINFO_ACCESS_TOKEN="${IPINFO_ACCESS_TOKEN}"
MIX_INSTAGRAM_URL="${INSTAGRAM_URL}"


MAILCHIMP_DRIVER=
MAILCHIMP_APIKEY=
MAILCHIMP_DEFAULT_LIST_NAME=
MAILCHIMP_LIST_ID=

MIX_GOOGLE_RECAPTCHAV3_WEB=
GOOGLE_RECAPTCHAV3_SECRET=
