@import "colors";
@import "transitions";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

$primary: #00839E;
$secondary: #F18800;
$light: #EFF7FB;
$lightPrimary: #60BDC5;

$input-border-radius: 20px;
$input-border-width: 0;
$input-placeholder-color: #9F9F9F;
$btn-border-radius: 20px;
$btn-border-width: 3px;

@import "~bootstrap/scss/bootstrap";

@mixin rombo($bg, $width, $height) {
  background: $bg;
  width: $width;
  height: $height;
  transform: rotate(45deg);
}

.full-height {
  height: 100vh;
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  @media (max-width: 1200px) {
    min-height: 100vh;
  }
  @media (min-width: 1200px) {
    height: 100vh;
  }
}

#main{
}

#logo {
  right: 145px;
  width: 144px;
}

#cuadros {
  position: absolute;
  bottom: 32px;
  left: -97px;
  width: 236px;
  height: 400px;

  @media(max-width: 576px){
    display: none;
  }

  #naranja {
    @include rombo($naranja, 120px, 120px);
    position: absolute;
    top: 25px;
    left: 25px;
  }
  #azul_oscuro {
    @include rombo($azul_oscuro, 125px, 125px);
    position: absolute;
    left: 25px;
    bottom: 25px;
  }
  #blanco{
    @include rombo($blanco, 127.5px, 127.5px);
    opacity: .7;
    position: absolute;
    left: 25px;
    top: 160px;
  }
  #azul_claro {
    @include rombo($azul_claro, 106px, 106px);
    position: absolute;
    right: 22px;
    bottom: 140px;
  }
  #azul_oscuro2{
    @include rombo($azul_oscuro2, 56px, 56px);
    position: absolute;
    top: 163px;
    left: 21px;
  }
}

.extra-bold {
  font-weight: 800;
}

.page2 {
  padding: 0 6% 0 12%;
}
